# Understanding Pandas Series and DataFrames - Lab

## Introduction

In this lab, let's get some hands on practice working with data cleanup using Pandas.

## Objectives
You will be able to:

* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

## Let's get started!

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('turnstile_180901.txt')
print(len(df))
df.head()

197625

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

## Rename all the columns to lower case

In [3]:
#Your code here
df.columns = map(str.lower, df.columns)
df.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

## Change the Index to be the Line Names

In [4]:
#Your code here
df = df.set_index('linename')
df.head()

,c/a,unit,scp,station,division,date,time,desc,entries,exits
linename,,,,,,,,,,
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

## Painstakingly change the index back

In [5]:
# Your code here
df = df.reset_index()
df.head

<bound method NDFrame.head of        linename    c/a  unit       scp        station division        date  \
0       NQR456W   A002  R051  02-00-00          59 ST      BMT  08/25/2018
1       NQR456W   A002  R051  02-00-00          59 ST      BMT  08/25/2018
2       NQR456W   A002  R051  02-00-00          59 ST      BMT  08/25/2018
3       NQR456W   A002  R051  02-00-00          59 ST      BMT  08/25/2018
4       NQR456W   A002  R051  02-00-00          59 ST      BMT  08/25/2018
5       NQR456W   A002  R051  02-00-00          59 ST      BMT  08/25/2018
6       NQR456W   A002  R051  02-00-00          59 ST      BMT  08/26/2018
7       NQR456W   A002  R051  02-00-00          59 ST      BMT  08/26/2018
8       NQR456W   A002  R051  02-00-00          59 ST      BMT  08/26/2018
9       NQR456W   A002  R051  02-00-00          59 ST      BMT  08/26/2018
10      NQR456W   A002  R051  02-00-00          59 ST      BMT  08/26/2018
11      NQR456W   A002  R051  02-00-00          59 ST      BMT  08/26/2018
12      NQR456W   A002  R051  02-00-00          59 ST      BMT  08/27/2018
13      NQR456W   A002  R051  02-00-00          59 ST      BMT  08/27/2018
14      NQR456W   A002  R051  02-00-00          59 ST      BMT  08/27/2018
15      NQR456W   A002  R051  02-00-00          59 ST      BMT  08/27/2018
16      NQR456W   A002  R051  02-00-00          59 ST      BMT  08/27/2018
17      NQR456W   A002  R051  02-00-00          59 ST      BMT  08/27/2018
18      NQR456W   A002  R051  02-00-00          59 ST      BMT  08/28/2018
19      NQR456W   A002  R051  02-00-00          59 ST      BMT  08/28/2018
20      NQR456W   A002  R051  02-00-00          59 ST      BMT  08/28/2018
21      NQR456W   A002  R051  02-00-00          59 ST      BMT  08/28/2018
22      NQR456W   A002  R051  02-00-00          59 ST      BMT  08/28/2018
23      NQR456W   A002  R051  02-00-00          59 ST      BMT  08/28/2018
24      NQR456W   A002  R051  02-00-00          59 ST      BMT  08/29/2018
25      NQR456W   A002  R051  02-00-00          59 ST      BMT  08/29/2018
26      NQR456W   A002  R051  02-00-00          59 ST      BMT  08/29/2018
27      NQR456W   A002  R051  02-00-00          59 ST      BMT  08/29/2018
28      NQR456W   A002  R051  02-00-00          59 ST      BMT  08/29/2018
29      NQR456W   A002  R051  02-00-00          59 ST      BMT  08/29/2018
...         ...    ...   ...       ...            ...      ...         ...
197595        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/27/2018
197596        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/27/2018
197597        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/27/2018
197598        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/27/2018
197599        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/27/2018
197600        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/27/2018
197601        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/28/2018
197602        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/28/2018
197603        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/28/2018
197604        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/28/2018
197605        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/28/2018
197606        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/28/2018
197607        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/29/2018
197608        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/29/2018
197609        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/29/2018
197610        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/29/2018
197611        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/29/2018
197612        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/29/2018
197613        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/30/2018
197614        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/30/2018
197615        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/30/2018
197616        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/30/2018
197617        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/30/2018
197618        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/30/2018
197619        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/31/2018
197620        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/31/2018
197621        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/31/2018
197622        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/31/2018
197623        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/31/2018
197624        R  TRAM2  R469  00-05-01  RIT-ROOSEVELT      RIT  08/31/2018

            time     desc  entries  \
0       00:00:00  REGULAR  6736067
1       04:00:00  REGULAR  6736087
2       08:00:00  REGULAR  6736105
3       12:00:00  REGULAR  6736180
4       16:00:00  REGULAR  6736349
5       20:00:00  REGULAR  6736562
6       00:00:00  REGULAR  6736683
7       04:00:00  REGULAR  6736696
8       08:00:00  REGULAR  6736705
9       12:00:00  REGULAR  6736746
10      16:00:00  REGULAR  6736873
11      20:00:00  REGULAR  6737067
12      00:00:00  REGULAR  6737136
13      04:00:00  REGULAR  6737146
14      08:00:00  REGULAR  6737169
15      12:00:00  REGULAR  6737301
16      16:00:00  REGULAR  6737553
17      20:00:00  REGULAR  6738257
18      00:00:00  REGULAR  6738430
19      04:00:00  REGULAR  6738442
20      08:00:00  REGULAR  6738474
21      12:00:00  REGULAR  6738621
22      16:00:00  REGULAR  6738886
23      20:00:00  REGULAR  6739630
24      00:00:00  REGULAR  6739804
25      04:00:00  REGULAR  6739812
26      08:00:00  REGULAR  6739847
27      12:00:00  REGULAR  6739986
28      16:00:00  REGULAR  6740257
29      20:00:00  REGULAR  6740888
...          ...      ...      ...
197595  01:00:00  REGULAR     5554
197596  05:00:00  REGULAR     5554
197597  09:00:00  REGULAR     5554
197598  13:00:00  REGULAR     5554
197599  17:00:00  REGULAR     5554
197600  21:00:00  REGULAR     5554
197601  01:00:00  REGULAR     5554
197602  05:00:00  REGULAR     5554
197603  09:00:00  REGULAR     5554
197604  13:00:00  REGULAR     5554
197605  17:00:00  REGULAR     5554
197606  21:00:00  REGULAR     5554
197607  01:00:00  REGULAR     5554
197608  05:00:00  REGULAR     5554
197609  09:00:00  REGULAR     5554
197610  13:00:00  REGULAR     5554
197611  17:00:00  REGULAR     5554
197612  21:00:00  REGULAR     5554
197613  01:00:00  REGULAR     5554
197614  05:00:00  REGULAR     5554
197615  09:00:00  REGULAR     5554
197616  13:00:00  REGULAR     5554
197617  17:00:00  REGULAR     5554
197618  21:00:00  REGULAR     5554
197619  01:00:00  REGULAR     5554
197620  05:00:00  REGULAR     5554
197621  09:00:00  REGULAR     5554
197622  13:00:00  REGULAR     5554
197623  17:00:00  REGULAR     5554
197624  21:00:00  REGULAR     5554

        exits
0                                                 2283184
1                                                 2283188
2                                                 2283229
3                                                 2283314
4                                                 2283384
5                                                 2283425
6                                                 2283460
7                                                 2283461
8                                                 2283483
9                                                 2283524
10                                                2283587
11                                                2283631
12                                                2283656
13                                                2283658
14                                                2283736
15                                                2283965
16                                                2284025
17                                                2284091
18                                                2284121
19                                                2284126
20                                                2284216
21                                                2284402
22                                                2284425
23                                                2284478
24                                                2284508
25                                                2284512
26                                                2284600
27                                                2284838
28                                                2284896
29                                                2284941
...                                                   ...
197595                                                348
197596                                                348
197597                                                348
197598                                                348
197599                                                348
197600                                                348
197601                                                348
197602                                                348
197603                                                348
197604                                                348
197605                                                348
197606                                                348
197607                                                348
197608                                                348
197609                                                348
197610                                                348
197611                                                348
197612                                                348
197613                                                348
197614                                                348
197615                                                348
197616                                                348
197617                                                348
197618                                                348
197619                                                348
197620                                                348
197621                                                348
197622                                                348
197623                                                348
197624                                                348

[197625 rows x 11 columns]>

## Create another column 'Num_Lines' that is a count of how many lines pass through a station. Then sort your dataframe by this column in descending order

In [18]:
# Your code here
def linenamecount(x):
    return len(x)
df['Num_Lines'] = df.linename.map(linenamecount)
df.sort_values('Num_Lines')

,linename,c/a,unit,scp,station,division,date,time,desc,entries,exits,Num_Lines
98812,F,N528,R257,01-06-01,EAST BROADWAY,IND,08/31/2018,08:00:00,REGULAR,3118060,2484444,1
116031,1,PTH12,R542,00-04-01,TWENTY THIRD ST,PTH,08/26/2018,12:16:23,REGULAR,32880,599640,1
116030,1,PTH12,R542,00-04-01,TWENTY THIRD ST,PTH,08/26/2018,08:04:23,REGULAR,32880,599640,1
116029,1,PTH12,R542,00-04-01,TWENTY THIRD ST,PTH,08/26/2018,03:52:23,REGULAR,32880,599640,1
116028,1,PTH12,R542,00-04-01,TWENTY THIRD ST,PTH,08/25/2018,23:40:23,REGULAR,32880,599640,1
116027,1,PTH12,R542,00-04-01,TWENTY THIRD ST,PTH,08/25/2018,19:28:23,REGULAR,32880,599640,1
116026,1,PTH12,R542,00-04-01,TWENTY THIRD ST,PTH,08/25/2018,15:16:23,REGULAR,32880,599640,1
116025,1,PTH12,R542,00-04-01,TWENTY THIRD ST,PTH,08/25/2018,11:04:23,REGULAR,32880,599640,1
116024,1,PTH12,R542,00-04-01,TWENTY THIRD ST,PTH,08/25/2018,06:52:23,REGULAR,32880,599640,1
116023,1,PTH12,R542,00-04-01,TWENTY THIRD ST,PTH,08/25/2018,02:40:23,REGULAR,32880,599640,1
116022,1,PTH12,R542,00-04-00,TWENTY THIRD ST,PTH,08/31/2018,20:50:34,REGULAR,69256,1438409,1
116021,1,PTH12,R542,00-04-00,TWENTY THIRD ST,PTH,08/31/2018,16:38:34,REGULAR,69157,1438185,1
116020,1,PTH12,R542,00-04-00,TWENTY THIRD ST,PTH,08/31/2018,12:26:34,REGULAR,69056,1437902,1
116019,1,PTH12,R542,00-04-00,TWENTY THIRD ST,PTH,08/31/2018,08:14:34,REGULAR,69027,1436885,1
116032,1,PTH12,R542,00-04-01,TWENTY THIRD ST,PTH,08/26/2018,16:28:23,REGULAR,32880,599640,1
116018,1,PTH12,R542,00-04-00,TWENTY THIRD ST,PTH,08/31/2018,04:02:34,REGULAR,69016,1436500,1
116016,1,PTH12,R542,00-04-00,TWENTY THIRD ST,PTH,08/30/2018,19:38:34,REGULAR,68902,1436392,1
116015,1,PTH12,R542,00-04-00,TWENTY THIRD ST,PTH,08/30/2018,15:26:34,REGULAR,68739,1436096,1
116014,1,PTH12,R542,00-04-00,TWENTY THIRD ST,PTH,08/30/2018,11:00:34,REGULAR,68671,1435769,1
116013,1,PTH12,R542,00-04-00,TWENTY THIRD ST,PTH,08/30/2018,06:48:34,REGULAR,68638,1434042,1
116012,1,PTH12,R542,00-04-00,TWENTY THIRD ST,PTH,08/30/2018,02:36:34,REGULAR,68632,1433949,1
116011,1,PTH12,R542,00-04-00,TWENTY THIRD ST,PTH,08/29/2018,22:24:34,REGULAR,68589,1433923,1
116010,1,PTH12,R542,00-04-00,TWENTY THIRD ST,PTH,08/29/2018,18:12:34,REGULAR,68491,1433752,1
116009,1,PTH12,R542,00-04-00,TWENTY THIRD ST,PTH,08/29/2018,14:00:34,REGULAR,68349,1433434,1
116008,1,PTH12,R542,00-04-00,TWENTY THIRD ST,PTH,08/29/2018,09:48:34,REGULAR,68306,1432922,1
116007,1,PTH12,R542,00-04-00,TWENTY THIRD ST,PTH,08/29/2018,05:36:34,REGULAR,68289,1431408,1
116006,1,PTH12,R542,00-04-00,TWENTY THIRD ST,PTH,08/29/2018,01:24:34,REGULAR,68289,1431396,1
116005,1,PTH12,R542,00-04-00,TWENTY THIRD ST,PTH,08/28/2018,21:12:34,REGULAR,68271,1431359,1
116004,1,PTH12,R542,00-04-00,TWENTY THIRD ST,PTH,08/28/2018,17:00:34,REGULAR,68135,1431121,1
116017,1,PTH12,R542,00-04-00,TWENTY THIRD ST,PTH,08/30/2018,23:50:34,REGULAR,68962,1436483,1
...,...,...,...,...,...,...,...,...,...,...,...,...
49354,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/29/2018,06:00:00,REGULAR,19928569,3631779,12
49353,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/29/2018,02:00:00,REGULAR,19928535,3631698,12
49352,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/28/2018,22:00:00,REGULAR,19928359,3631491,12
49351,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/28/2018,18:00:00,REGULAR,19927788,3630899,12
49350,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/28/2018,14:00:00,REGULAR,19927136,3630383,12
49349,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/28/2018,10:00:00,REGULAR,19926822,3629969,12
49348,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/28/2018,06:00:00,REGULAR,19926452,3629493,12
49347,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/28/2018,02:00:00,REGULAR,19926421,3629400,12
49346,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/27/2018,22:00:00,REGULAR,19926266,3629273,12
49345,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/27/2018,18:00:00,REGULAR,19925815,3628755,12
49344,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/27/2018,14:00:00,REGULAR,19925264,3628252,12
49343,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/27/2018,10:00:00,REGULAR,19924948,3627808,12
49325,ACENQRS1237W,N062A,R010,00-05-00,42 ST-PORT AUTH,IND,08/31/2018,10:00:00,REGULAR,68626632,18797731,12
49342,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/27/2018,06:00:00,REGULAR,19924603,3627380,12
49340,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/26/2018,22:00:00,REGULAR,19924448,3627136,12
49339,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/26/2018,18:00:00,REGULAR,19924187,3626667,12
49338,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/26/2018,14:00:00,REGULAR,19923822,3625999,12
49337,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/26/2018,10:00:00,REGULAR,19923558,3625521,12
49336,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/26/2018,06:00:00,REGULAR,19923468,3625363,12
49335,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/26/2018,02:00:00,REGULAR,19923425,3625311,12
49334,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/25/2018,22:00:00,REGULAR,19923165,3625048,12
49333,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/25/2018,18:00:00,REGULAR,19922807,3624367,12
49332,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/25/2018,14:00:00,REGULAR,19922328,3623772,12
49331,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/25/2018,10:00:00,REGULAR,19922016,3623230,12
49330,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/25/2018,06:00:00,REGULAR,19921896,3622961,12
49329,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/25/2018,02:00:00,REGULAR,19921835,3622893,12
49328,ACENQRS1237W,N062A,R010,00-05-00,42 ST-PORT AUTH,IND,08/31/2018,22:00:00,REGULAR,68627697,18799211,12
49327,ACENQRS1237W,N062A,R010,00-05-00,42 ST-PORT AUTH,IND,08/31/2018,18:00:00,REGULAR,68627387,18798693,12
49341,ACENQRS1237W,N062A,R010,00-05-01,42 ST-PORT AUTH,IND,08/27/2018,02:00:00,REGULAR,19924585,3627300,12
131329,1237ACENQRSW,R145,R032,00-00-02,TIMES SQ-42 ST,IRT,08/29/2018,04:00:00,REGULAR,5446001,2443889,12

## Write a function to clean a column name

In [ ]:
def clean(col_name):
    cleaned = #Your code here; whatever you want to do to col_name. Hint: think back to str methods.
    return cleaned

In [ ]:
#This is a list comprehension. It applies your clean function to every item in the list.
#We then reassign that to df.columns
#You shouldn't have to change anything here.
#Your function above should work appropriately here.
df.columns = [clean(col) for col in df.columns]

In [ ]:
#Checking the output, we can see the results.
df.columns

## Compare subway traffic by day of the week. Display this as a graph.

In [ ]:
#Your code here

## Is there more subway traffic on a weekend or a weekday?    Be specific in comparing magnitudes

In [ ]:
#Your code here

## Drop a couple of columns

In [ ]:
# Your code here

## Summary

Great! You practiced your data cleanup-skills using Pandas.